pane_frames false

layout {
    tab {
        pane split_direction="vertical" {
            editor
        }
        compact_bar size=1
    }

    swap_tiled_layout name="compact" {
        tab exact_panes=3 {
            pane split_direction="horizontal" {
                editor size="75%"
                pane
            }
            compact_bar size=1
        }

        tab min_panes=4 {
            pane split_direction="horizontal" {
                editor size="50%"
                pane split_direction="vertical" {
                    pane
                    pane
                }
            }
            compact_bar size=1
        }
    }

    swap_tiled_layout name="wide" {
        tab exact_panes=4 {
            editor
            pane split_direction="horizontal" size=80 {
                pane
            }
            compact_bar size=1
        }

        tab min_panes=4 {
            editor
            pane split_direction="horizontal" size=80 {
                pane
                pane
            }
            compact_bar size=1
        }
    }

    // TEMPLATES
    pane_template name="editor" {
        command "nvim"
    }

    pane_template name="compact_bar" {
        borderless true
        plugin location="compact-bar"
    }

    new_tab_template {
        pane
        compact_bar size=1
    }
}
