# Television channel for directory selection
# Community channel: https://github.com/alexpasmantier/television-channels

[metadata]
name = "dirs"
description = "A channel to select from directories"
requirements = ["fd"]

[source]
command = ["fd -t d", "fd -t d --hidden"]

[preview]
command = "ls -la --color=always '{}'"

[keybindings]
shortcut = "f2"
enter = "actions:cd"

[actions.cd]
description = "Change to the selected directory and open files channel"
command = "cd '{}' && tv files"
mode = "execute"
