[metadata]
name = "pj"
description = "A channel to select from directories using pj"
requirements = ["pj"]

[source]
command = [
  "pj --icons --ansi --shorten",
  "pj --icons --ansi --shorten --no-nested"
]
ansi = true

[preview]
command = "lt --color=always \"$(eval echo '{strip_ansi|split: :1}')\""

[keybindings]
enter = "actions:expand"
ctrl-e = "actions:edit"
ctrl-t = "actions:connect"
ctrl-n = "actions:new_tab"
ctrl-r = ["actions:clear_cache", "reload_source"]

[actions.expand]
description = "Expand to absolute path"
command = "eval echo '{strip_ansi|split: :1}'"
mode = "execute"

[actions.edit]
description = "Open in $EDITOR"
command = "$EDITOR \"$(eval echo '{strip_ansi|split: :1}')\""
mode = "execute"

[actions.connect]
description = "Connect to selected tmux session"
command = "sh -c 'n=$(basename $1|tr .: _); tmux new -ds $n -c $1 2>/dev/null; tmux switchc -t $n' _ \"$(eval echo '{strip_ansi|split: :1}')\""
mode = "execute"

[actions.new_tab]
description = "Open in new tmux tab"
command = "tmux new-window -c \"$(eval echo '{strip_ansi|split: :1}')\""
mode = "execute"

[actions.clear_cache]
description = "Clear pj cache"
command = "pj --clear-cache"
mode = "fork"
