[metadata]
name = "projects"
description = "A channel to select from directories"
requirements = ["fd", "fdp", "eza", "sesh"]

[source]
command = ["fdp --path ~/development --icons --max-depth 5 --exclude node_modules --exclude .git --exclude .github"]
ansi = true
output = "{strip_ansi|split: :1}"

[preview]
command = "lt --color=always '{strip_ansi|split: :1}'"

[keybindings]
enter = "actions:connect"
ctrl-c = ["actions:clear_cache", "reload_source"]

[actions.connect]
description = "Connect to selected session"
command = "sesh connect '{strip_ansi|split: :1}'"
mode = "execute"

[actions.clear_cache]
description = "Clear fdp cache and reload"
command = "fdp --clear-cache"
mode = "fork"
