git:
  commit:
    autoWrapCommitMessage: false
  paging:
    colorArg: always
    pager: delta --dark --paging=never
gui:
  theme:
    activeBorderColor:
      - "#ff9e64"
      - bold
    inactiveBorderColor:
      - "#27a1b9"
    searchingActiveBorderColor:
      - "#ff9e64"
      - bold
    optionsTextColor:
      - "#7aa2f7"
    selectedLineBgColor:
      - "#283457"
    cherryPickedCommitFgColor:
      - "#7aa2f7"
    cherryPickedCommitBgColor:
      - "#bb9af7"
    markedBaseCommitFgColor:
      - "#7aa2f7"
    markedBaseCommitBgColor:
      - "#e0af68"
    unstagedChangesColor:
      - "#db4b4b"
    defaultFgColor:
      - "#c0caf5"
  authorColors:
    "*": "#b4befe"
customCommands:
  - key: "G"
    context: "global"
    description: "Open repository in GitHub"
    command: 'git remote get-url origin | sed -E "s/git@github.com:(.*).git/https:\/\/github.com\/\1/" | xargs open'
